{% extends 'shop/post_list.html' %}

{% block content %}

{% endblock %}


{# <h1>New post</h1>#}
{#    <form method="POST" class="post-form">{% csrf_token %}#}
{#        {{ form.as_ul }}#}
{#        <button type="submit" class="save btn btn-default">Save</button>#}
{#    </form>#}
{#                                    <form class="row" method="POST" class="post-form">{% csrf_token %}#}
{##}
{#                                        <div class="col-md-6 mb-3">#}
{#                                            <label for="name">Ф.И.О</label>#}
{#                                            <input type="text" class="form-control" id="name" placeholder="" value="" required>#}
{#                                            <div class="invalid-feedback">#}
{#                                                Введите Ваше имя и фамилию#}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                        <div class="col-md-6 mb-3">#}
{#                                            <label for="phone">Номер телефона</label>#}
{#                                            <input type="text" class="form-control" id="phone" placeholder="" value="" required>#}
{#                                            <div class="invalid-feedback">#}
{#                                                Введите Ваш номер телефона#}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                                                                <button class="btn btn-primary btn-lg toorder btn-block" type="submit">Купить товар</button>#}
{##}
{#                                    </form>#}